In [91]:
import pandas as pd
import numpy as np
import datetime

# Leo el archivo de Instalaciones.

In [92]:
path = 'datos/installs.csv'
installs = pd.read_csv(path)
installs.head()

/Users/gmontes/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_countrycode,device_brand,device_model,session_user_agent,user_agent,event_uuid,kind,wifi,trans_id,ip_address,device_language
0,2019-04-24 06:23:29.495,1,1494519392962156891,4716708407362582887,NaN,False,True,6287817205707153877,NaN,3.739127e+17,adjust.com,NaN,79837499-2f2a-4605-a663-e322f759424f,app_open,NaN,NaN,4243443387795468703,3.301378e+18
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,NaN,False,False,6287817205707153877,NaN,7.805539e+18,adjust.com,NaN,NaN,NaN,NaN,NaN,4724288679627032761,3.301378e+18
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,NaN,False,True,6287817205707153877,NaN,8.355496e+18,adjust.com,NaN,dda99e3c-9c4b-487d-891c-79f0a02cb4a8,app_open,NaN,NaN,8291809486355890410,4.060930e+18
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,NaN,False,True,6287817205707153877,NaN,2.355772e+18,adjust.com,NaN,7010c3ce-0fcf-46c6-9be8-374cc0e20af4,app_open,NaN,NaN,4006811922873399949,3.301378e+18
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,NaN,False,False,6287817205707153877,NaN,6.156971e+18,adjust.com,NaN,NaN,NaN,NaN,NaN,3386455054590810771,3.301378e+18

# Se da formato a las fechas.

In [93]:
# Damos formato a la fecha.
installs['timestamp_format'] = pd.to_datetime(installs['created'])

# Agrego columna fecha.
installs['date_timestamp'] = installs['timestamp_format'].dt.date

# Agrego columna numero dia.
installs['day'] = installs['timestamp_format'].dt.day

installs.head()

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_countrycode,device_brand,device_model,...,user_agent,event_uuid,kind,wifi,trans_id,ip_address,device_language,timestamp_format,date_timestamp,day
0,2019-04-24 06:23:29.495,1,1494519392962156891,4716708407362582887,NaN,False,True,6287817205707153877,NaN,3.739127e+17,...,NaN,79837499-2f2a-4605-a663-e322f759424f,app_open,NaN,NaN,4243443387795468703,3.301378e+18,2019-04-24 06:23:29.495,2019-04-24,24
1,2019-04-24 02:06:01.032,1,1494519392962156891,7143568733100935872,NaN,False,False,6287817205707153877,NaN,7.805539e+18,...,NaN,NaN,NaN,NaN,NaN,4724288679627032761,3.301378e+18,2019-04-24 02:06:01.032,2019-04-24,24
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,NaN,False,True,6287817205707153877,NaN,8.355496e+18,...,NaN,dda99e3c-9c4b-487d-891c-79f0a02cb4a8,app_open,NaN,NaN,8291809486355890410,4.060930e+18,2019-04-20 10:15:36.274,2019-04-20,20
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,NaN,False,True,6287817205707153877,NaN,2.355772e+18,...,NaN,7010c3ce-0fcf-46c6-9be8-374cc0e20af4,app_open,NaN,NaN,4006811922873399949,3.301378e+18,2019-04-20 21:56:47.151,2019-04-20,20
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,NaN,False,False,6287817205707153877,NaN,6.156971e+18,...,NaN,NaN,NaN,NaN,NaN,3386455054590810771,3.301378e+18,2019-04-20 22:40:41.239,2019-04-20,20

# Se crean las ventanas.

In [94]:
installs_18_20 = installs[(installs['day'] >= 18) & (installs['day'] < 21)]
installs_19_21 = installs[(installs['day'] >= 19) & (installs['day'] < 22)]
installs_20_22 = installs[(installs['day'] >= 20) & (installs['day'] < 23)]
installs_21_23 = installs[(installs['day'] >= 21) & (installs['day'] < 24)]
installs_22_24 = installs[(installs['day'] >= 22) & (installs['day'] < 25)]
installs_23_25 = installs[(installs['day'] >= 23) & (installs['day'] < 26)]
installs_24_26 = installs[(installs['day'] >= 24) & (installs['day'] < 27)]

installs_18_20.head()

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_countrycode,device_brand,device_model,...,user_agent,event_uuid,kind,wifi,trans_id,ip_address,device_language,timestamp_format,date_timestamp,day
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,NaN,False,True,6287817205707153877,NaN,8.355496e+18,...,NaN,dda99e3c-9c4b-487d-891c-79f0a02cb4a8,app_open,NaN,NaN,8291809486355890410,4.060930e+18,2019-04-20 10:15:36.274,2019-04-20,20
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,NaN,False,True,6287817205707153877,NaN,2.355772e+18,...,NaN,7010c3ce-0fcf-46c6-9be8-374cc0e20af4,app_open,NaN,NaN,4006811922873399949,3.301378e+18,2019-04-20 21:56:47.151,2019-04-20,20
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,NaN,False,False,6287817205707153877,NaN,6.156971e+18,...,NaN,NaN,NaN,NaN,NaN,3386455054590810771,3.301378e+18,2019-04-20 22:40:41.239,2019-04-20,20
5,2019-04-20 18:19:27.485,1,1494519392962156891,7522785771858684314,NaN,False,True,6287817205707153877,NaN,6.208879e+18,...,NaN,35e7504f-cd9b-4a78-b89f-7335a8bd735a,app_open,NaN,NaN,7297343258015606683,3.301378e+18,2019-04-20 18:19:27.485,2019-04-20,20
6,2019-04-20 03:40:21.239,1,1494519392962156891,7882044913917355073,NaN,False,True,6287817205707153877,NaN,4.566898e+18,...,NaN,f3a8649c-bd47-4874-a20e-8d3d5cedac2e,app_open,NaN,NaN,4764130939738113581,4.060930e+18,2019-04-20 03:40:21.239,2019-04-20,20

# Se agrega el time to auction.

In [95]:
installs_18_20['base_time'] = datetime.datetime(2019, 4, 18)
installs_18_20['time_to_install'] = (installs_18_20['timestamp_format'] - installs_18_20['base_time']) / np.timedelta64(1, 's')

installs_19_21['base_time'] = datetime.datetime(2019, 4, 19)
installs_19_21['time_to_install'] = (installs_19_21['timestamp_format'] - installs_19_21['base_time']) / np.timedelta64(1, 's')

installs_20_22['base_time'] = datetime.datetime(2019, 4, 20)
installs_20_22['time_to_install'] = (installs_20_22['timestamp_format'] - installs_20_22['base_time']) / np.timedelta64(1, 's')

installs_21_23['base_time'] = datetime.datetime(2019, 4, 21)
installs_21_23['time_to_install'] = (installs_21_23['timestamp_format'] - installs_21_23['base_time']) / np.timedelta64(1, 's')

installs_22_24['base_time'] = datetime.datetime(2019, 4, 22)
installs_22_24['time_to_install'] = (installs_22_24['timestamp_format'] - installs_22_24['base_time']) / np.timedelta64(1, 's')

installs_23_25['base_time'] = datetime.datetime(2019, 4, 23)
installs_23_25['time_to_install'] = (installs_23_25['timestamp_format'] - installs_23_25['base_time']) / np.timedelta64(1, 's')

installs_24_26['base_time'] = datetime.datetime(2019, 4, 24)
installs_24_26['time_to_install'] = (installs_24_26['timestamp_format'] - installs_24_26['base_time']) / np.timedelta64(1, 's')

installs_19_21.head()

/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,created,application_id,ref_type,ref_hash,click_hash,attributed,implicit,device_countrycode,device_brand,device_model,...,kind,wifi,trans_id,ip_address,device_language,timestamp_format,date_timestamp,day,base_time,time_to_install
2,2019-04-20 10:15:36.274,1,1494519392962156891,5230323462636548010,NaN,False,True,6287817205707153877,NaN,8.355496e+18,...,app_open,NaN,NaN,8291809486355890410,4.060930e+18,2019-04-20 10:15:36.274,2019-04-20,20,2019-04-19,123336.274
3,2019-04-20 21:56:47.151,1,1494519392962156891,5097163995161606833,NaN,False,True,6287817205707153877,NaN,2.355772e+18,...,app_open,NaN,NaN,4006811922873399949,3.301378e+18,2019-04-20 21:56:47.151,2019-04-20,20,2019-04-19,165407.151
4,2019-04-20 22:40:41.239,1,1494519392962156891,6328027616411983332,NaN,False,False,6287817205707153877,NaN,6.156971e+18,...,NaN,NaN,NaN,3386455054590810771,3.301378e+18,2019-04-20 22:40:41.239,2019-04-20,20,2019-04-19,168041.239
5,2019-04-20 18:19:27.485,1,1494519392962156891,7522785771858684314,NaN,False,True,6287817205707153877,NaN,6.208879e+18,...,app_open,NaN,NaN,7297343258015606683,3.301378e+18,2019-04-20 18:19:27.485,2019-04-20,20,2019-04-19,152367.485
6,2019-04-20 03:40:21.239,1,1494519392962156891,7882044913917355073,NaN,False,True,6287817205707153877,NaN,4.566898e+18,...,app_open,NaN,NaN,4764130939738113581,4.060930e+18,2019-04-20 03:40:21.239,2019-04-20,20,2019-04-19,99621.239

# Se agrega la cantidad de instalaciones.

In [96]:
instalaciones_18_20 = installs_18_20.groupby('ref_hash')['created'].count().reset_index()
instalaciones_18_20.columns = ['ref_hash', 'cant_installs']

instalaciones_19_21 = installs_19_21.groupby('ref_hash')['created'].count().reset_index()
instalaciones_19_21.columns = ['ref_hash', 'cant_installs']

instalaciones_20_22 = installs_20_22.groupby('ref_hash')['created'].count().reset_index()
instalaciones_20_22.columns = ['ref_hash', 'cant_installs']

instalaciones_21_23 = installs_21_23.groupby('ref_hash')['created'].count().reset_index()
instalaciones_21_23.columns = ['ref_hash', 'cant_installs']

instalaciones_22_24 = installs_22_24.groupby('ref_hash')['created'].count().reset_index()
instalaciones_22_24.columns = ['ref_hash', 'cant_installs']

instalaciones_23_25 = installs_23_25.groupby('ref_hash')['created'].count().reset_index()
instalaciones_23_25.columns = ['ref_hash', 'cant_installs']

instalaciones_24_26 = installs_24_26.groupby('ref_hash')['created'].count().reset_index()
instalaciones_24_26.columns = ['ref_hash', 'cant_installs']

instalaciones_20_22.head()

          ref_hash  cant_installs
0   40621409780134              1
1  135153013040192              1
2  161514654074162              1
3  168103949904656              1
4  283297668933729              1

In [97]:
instalaciones_18_20['cant_installs'].fillna(0, inplace= True)
instalaciones_19_21['cant_installs'].fillna(0, inplace= True)
instalaciones_20_22['cant_installs'].fillna(0, inplace= True)
instalaciones_21_23['cant_installs'].fillna(0, inplace= True)
instalaciones_22_24['cant_installs'].fillna(0, inplace= True)
instalaciones_23_25['cant_installs'].fillna(0, inplace= True)
instalaciones_24_26['cant_installs'].fillna(0, inplace= True)

instalaciones_21_23.head()

          ref_hash  cant_installs
0   40621409780134              1
1  161514654074162              1
2  168103949904656              1
3  283297668933729              1
4  345999128501141              1

# Se agrega la marca de celular.

In [98]:
brand_user_18_20 = installs_18_20.groupby('ref_hash').agg({'device_brand': 'first'}).reset_index()
brand_user_18_20.columns = ['ref_hash', 'device_brand']

brand_user_19_21 = installs_19_21.groupby('ref_hash').agg({'device_brand': 'first'}).reset_index()
brand_user_19_21.columns = ['ref_hash', 'device_brand']

brand_user_20_22 = installs_20_22.groupby('ref_hash').agg({'device_brand': 'first'}).reset_index()
brand_user_20_22.columns = ['ref_hash', 'device_brand']

brand_user_21_23 = installs_21_23.groupby('ref_hash').agg({'device_brand': 'first'}).reset_index()
brand_user_21_23.columns = ['ref_hash', 'device_brand']

brand_user_22_24 = installs_22_24.groupby('ref_hash').agg({'device_brand': 'first'}).reset_index()
brand_user_22_24.columns = ['ref_hash', 'device_brand']

brand_user_23_25 = installs_23_25.groupby('ref_hash').agg({'device_brand': 'first'}).reset_index()
brand_user_23_25.columns = ['ref_hash', 'device_brand']

brand_user_24_26 = installs_24_26.groupby('ref_hash').agg({'device_brand': 'first'}).reset_index()
brand_user_24_26.columns = ['ref_hash', 'device_brand']

brand_user_22_24.head()

          ref_hash  device_brand
0   90072729247980           NaN
1  161514654074162  2.208835e+18
2  168103949904656           NaN
3  283297668933729           NaN
4  448610188195811  2.987569e+18

In [99]:
brand_user_18_20['device_brand'].fillna(0, inplace= True)
brand_user_19_21['device_brand'].fillna(0, inplace= True)
brand_user_20_22['device_brand'].fillna(0, inplace= True)
brand_user_21_23['device_brand'].fillna(0, inplace= True)
brand_user_22_24['device_brand'].fillna(0, inplace= True)
brand_user_23_25['device_brand'].fillna(0, inplace= True)
brand_user_24_26['device_brand'].fillna(0, inplace= True)

brand_user_23_25.head()

          ref_hash  device_brand
0   90072729247980  0.000000e+00
1  416301579449694  0.000000e+00
2  420449720220692  0.000000e+00
3  448610188195811  2.987569e+18
4  456015810461357  3.083059e+17

In [100]:
instalaciones_18_20 = instalaciones_18_20.merge(brand_user_18_20, on='ref_hash', how='left')
instalaciones_19_21 = instalaciones_19_21.merge(brand_user_19_21, on='ref_hash', how='left')
instalaciones_20_22 = instalaciones_20_22.merge(brand_user_20_22, on='ref_hash', how='left')
instalaciones_21_23 = instalaciones_21_23.merge(brand_user_21_23, on='ref_hash', how='left')
instalaciones_22_24 = instalaciones_22_24.merge(brand_user_22_24, on='ref_hash', how='left')
instalaciones_23_25 = instalaciones_23_25.merge(brand_user_23_25, on='ref_hash', how='left')
instalaciones_24_26 = instalaciones_24_26.merge(brand_user_24_26, on='ref_hash', how='left')

instalaciones_24_26.head()

          ref_hash  cant_installs  device_brand
0   90072729247980              1           0.0
1  342614246084071              1           0.0
2  347785260789835              1           0.0
3  416301579449694              1           0.0
4  420449720220692              1           0.0

# Se agrega el modelo del celular.

In [101]:
modelo_user_18_20 = installs_18_20.groupby('ref_hash').agg({'device_model': 'first'}).reset_index()
modelo_user_18_20.columns = ['ref_hash', 'device_model']

modelo_user_19_21 = installs_19_21.groupby('ref_hash').agg({'device_model': 'first'}).reset_index()
modelo_user_19_21.columns = ['ref_hash', 'device_model']

modelo_user_20_22 = installs_20_22.groupby('ref_hash').agg({'device_model': 'first'}).reset_index()
modelo_user_20_22.columns = ['ref_hash', 'device_model']

modelo_user_21_23 = installs_21_23.groupby('ref_hash').agg({'device_model': 'first'}).reset_index()
modelo_user_21_23.columns = ['ref_hash', 'device_model']

modelo_user_22_24 = installs_22_24.groupby('ref_hash').agg({'device_model': 'first'}).reset_index()
modelo_user_22_24.columns = ['ref_hash', 'device_model']

modelo_user_23_25 = installs_23_25.groupby('ref_hash').agg({'device_model': 'first'}).reset_index()
modelo_user_23_25.columns = ['ref_hash', 'device_model']

modelo_user_24_26 = installs_24_26.groupby('ref_hash').agg({'device_model': 'first'}).reset_index()
modelo_user_24_26.columns = ['ref_hash', 'device_model']

modelo_user_18_20.head()

          ref_hash  device_model
0   41863526108385  1.658417e+18
1  135153013040192  4.981016e+18
2  186034136943920           NaN
3  365882020742330  1.805456e+18
4  519199987760489  1.295045e+18

In [102]:
modelo_user_18_20['device_model'].fillna(0, inplace= True)
modelo_user_19_21['device_model'].fillna(0, inplace= True)
modelo_user_20_22['device_model'].fillna(0, inplace= True)
modelo_user_21_23['device_model'].fillna(0, inplace= True)
modelo_user_22_24['device_model'].fillna(0, inplace= True)
modelo_user_23_25['device_model'].fillna(0, inplace= True)
modelo_user_24_26['device_model'].fillna(0, inplace= True)

modelo_user_19_21.head()

          ref_hash  device_model
0   40621409780134  2.019322e+18
1  135153013040192  4.981016e+18
2  345999128501141  1.709140e+17
3  365882020742330  1.805456e+18
4  457867161681660  6.794880e+18

In [103]:
instalaciones_18_20 = instalaciones_18_20.merge(modelo_user_18_20, on='ref_hash', how='left')
instalaciones_19_21 = instalaciones_19_21.merge(modelo_user_19_21, on='ref_hash', how='left')
instalaciones_20_22 = instalaciones_20_22.merge(modelo_user_20_22, on='ref_hash', how='left')
instalaciones_21_23 = instalaciones_21_23.merge(modelo_user_21_23, on='ref_hash', how='left')
instalaciones_22_24 = instalaciones_22_24.merge(modelo_user_22_24, on='ref_hash', how='left')
instalaciones_23_25 = instalaciones_23_25.merge(modelo_user_23_25, on='ref_hash', how='left')
instalaciones_24_26 = instalaciones_24_26.merge(modelo_user_24_26, on='ref_hash', how='left')

instalaciones_20_22.head()

          ref_hash  cant_installs  device_brand  device_model
0   40621409780134              1  0.000000e+00  2.019322e+18
1  135153013040192              1  0.000000e+00  4.981016e+18
2  161514654074162              1  2.208835e+18  6.684966e+18
3  168103949904656              1  0.000000e+00  1.816356e+18
4  283297668933729              1  0.000000e+00  1.805456e+18

# Se agrega el ID de la aplicación instalada.

In [104]:
app_id_18_20 = installs_18_20.groupby('ref_hash').agg({'application_id': 'last'}).reset_index()
app_id_18_20.columns = ['ref_hash', 'application_id']

app_id_19_21 = installs_19_21.groupby('ref_hash').agg({'application_id': 'last'}).reset_index()
app_id_19_21.columns = ['ref_hash', 'application_id']

app_id_20_22 = installs_20_22.groupby('ref_hash').agg({'application_id': 'last'}).reset_index()
app_id_20_22.columns = ['ref_hash', 'application_id']

app_id_21_23 = installs_21_23.groupby('ref_hash').agg({'application_id': 'last'}).reset_index()
app_id_21_23.columns = ['ref_hash', 'application_id']

app_id_22_24 = installs_22_24.groupby('ref_hash').agg({'application_id': 'last'}).reset_index()
app_id_22_24.columns = ['ref_hash', 'application_id']

app_id_23_25 = installs_23_25.groupby('ref_hash').agg({'application_id': 'last'}).reset_index()
app_id_23_25.columns = ['ref_hash', 'application_id']

app_id_24_26 = installs_24_26.groupby('ref_hash').agg({'application_id': 'last'}).reset_index()
app_id_24_26.columns = ['ref_hash', 'application_id']

app_id_21_23.head()

          ref_hash  application_id
0   40621409780134              77
1  161514654074162              65
2  168103949904656             155
3  283297668933729             210
4  345999128501141             155

In [105]:
app_id_18_20['application_id'].fillna(0, inplace= True)
app_id_19_21['application_id'].fillna(0, inplace= True)
app_id_20_22['application_id'].fillna(0, inplace= True)
app_id_21_23['application_id'].fillna(0, inplace= True)
app_id_22_24['application_id'].fillna(0, inplace= True)
app_id_23_25['application_id'].fillna(0, inplace= True)
app_id_24_26['application_id'].fillna(0, inplace= True)

app_id_20_22.head()

          ref_hash  application_id
0   40621409780134              77
1  135153013040192             155
2  161514654074162              65
3  168103949904656             155
4  283297668933729             210

In [106]:
instalaciones_18_20 = instalaciones_18_20.merge(app_id_18_20, on='ref_hash', how='left')
instalaciones_19_21 = instalaciones_19_21.merge(app_id_19_21, on='ref_hash', how='left')
instalaciones_20_22 = instalaciones_20_22.merge(app_id_20_22, on='ref_hash', how='left')
instalaciones_21_23 = instalaciones_21_23.merge(app_id_21_23, on='ref_hash', how='left')
instalaciones_22_24 = instalaciones_22_24.merge(app_id_22_24, on='ref_hash', how='left')
instalaciones_23_25 = instalaciones_23_25.merge(app_id_23_25, on='ref_hash', how='left')
instalaciones_24_26 = instalaciones_24_26.merge(app_id_24_26, on='ref_hash', how='left')

instalaciones_21_23.head()

          ref_hash  cant_installs  device_brand  device_model  application_id
0   40621409780134              1  0.000000e+00  2.019322e+18              77
1  161514654074162              1  2.208835e+18  6.684966e+18              65
2  168103949904656              1  0.000000e+00  1.816356e+18             155
3  283297668933729              1  0.000000e+00  1.805456e+18             210
4  345999128501141              1  0.000000e+00  1.709140e+17             155

# Se agregan las aplicaciones distintas instaladas por el user.

In [107]:
cantidad_de_apps_18_20 = installs_18_20.groupby('ref_hash')['application_id'].nunique().reset_index()
cantidad_de_apps_18_20.columns = ['ref_hash', 'cant_apps']

cantidad_de_apps_19_21 = installs_19_21.groupby('ref_hash')['application_id'].nunique().reset_index()
cantidad_de_apps_19_21.columns = ['ref_hash', 'cant_apps']

cantidad_de_apps_20_22 = installs_20_22.groupby('ref_hash')['application_id'].nunique().reset_index()
cantidad_de_apps_20_22.columns = ['ref_hash', 'cant_apps']

cantidad_de_apps_21_23 = installs_21_23.groupby('ref_hash')['application_id'].nunique().reset_index()
cantidad_de_apps_21_23.columns = ['ref_hash', 'cant_apps']

cantidad_de_apps_22_24 = installs_22_24.groupby('ref_hash')['application_id'].nunique().reset_index()
cantidad_de_apps_22_24.columns = ['ref_hash', 'cant_apps']

cantidad_de_apps_23_25 = installs_23_25.groupby('ref_hash')['application_id'].nunique().reset_index()
cantidad_de_apps_23_25.columns = ['ref_hash', 'cant_apps']

cantidad_de_apps_24_26 = installs_24_26.groupby('ref_hash')['application_id'].nunique().reset_index()
cantidad_de_apps_24_26.columns = ['ref_hash', 'cant_apps']

cantidad_de_apps_22_24.head()

          ref_hash  cant_apps
0   90072729247980          1
1  161514654074162          1
2  168103949904656          1
3  283297668933729          1
4  448610188195811          2

In [108]:
cantidad_de_apps_18_20['cant_apps'].fillna(0, inplace= True)
cantidad_de_apps_19_21['cant_apps'].fillna(0, inplace= True)
cantidad_de_apps_20_22['cant_apps'].fillna(0, inplace= True)
cantidad_de_apps_21_23['cant_apps'].fillna(0, inplace= True)
cantidad_de_apps_22_24['cant_apps'].fillna(0, inplace= True)
cantidad_de_apps_23_25['cant_apps'].fillna(0, inplace= True)
cantidad_de_apps_24_26['cant_apps'].fillna(0, inplace= True)

cantidad_de_apps_23_25.head()

          ref_hash  cant_apps
0   90072729247980          1
1  416301579449694          1
2  420449720220692          1
3  448610188195811          2
4  456015810461357          1

In [109]:
instalaciones_18_20 = instalaciones_18_20.merge(cantidad_de_apps_18_20, on='ref_hash', how='left')
instalaciones_19_21 = instalaciones_19_21.merge(cantidad_de_apps_19_21, on='ref_hash', how='left')
instalaciones_20_22 = instalaciones_20_22.merge(cantidad_de_apps_20_22, on='ref_hash', how='left')
instalaciones_21_23 = instalaciones_21_23.merge(cantidad_de_apps_21_23, on='ref_hash', how='left')
instalaciones_22_24 = instalaciones_22_24.merge(cantidad_de_apps_22_24, on='ref_hash', how='left')
instalaciones_23_25 = instalaciones_23_25.merge(cantidad_de_apps_23_25, on='ref_hash', how='left')
instalaciones_24_26 = instalaciones_24_26.merge(cantidad_de_apps_24_26, on='ref_hash', how='left')

instalaciones_24_26.head()

,ref_hash,cant_installs,device_brand,device_model,application_id,cant_apps
0,90072729247980,1,0.0,6.832960e+18,210,1
1,342614246084071,1,0.0,4.566898e+18,167,1
2,347785260789835,1,0.0,1.797887e+18,149,1
3,416301579449694,1,0.0,0.000000e+00,229,1
4,420449720220692,1,0.0,0.000000e+00,327,1

# Se agrega el user agent.

In [110]:
user_agent_18_20 = installs_18_20.groupby('ref_hash').agg({'user_agent': 'last'}).reset_index()
user_agent_18_20.columns = ['ref_hash', 'user_agent']

user_agent_19_21 = installs_19_21.groupby('ref_hash').agg({'user_agent': 'last'}).reset_index()
user_agent_19_21.columns = ['ref_hash', 'user_agent']

user_agent_20_22 = installs_20_22.groupby('ref_hash').agg({'user_agent': 'last'}).reset_index()
user_agent_20_22.columns = ['ref_hash', 'user_agent']

user_agent_21_23 = installs_21_23.groupby('ref_hash').agg({'user_agent': 'last'}).reset_index()
user_agent_21_23.columns = ['ref_hash', 'user_agent']

user_agent_22_24 = installs_22_24.groupby('ref_hash').agg({'user_agent': 'last'}).reset_index()
user_agent_22_24.columns = ['ref_hash', 'user_agent']

user_agent_23_25 = installs_23_25.groupby('ref_hash').agg({'user_agent': 'last'}).reset_index()
user_agent_23_25.columns = ['ref_hash', 'user_agent']

user_agent_24_26 = installs_24_26.groupby('ref_hash').agg({'user_agent': 'last'}).reset_index()
user_agent_24_26.columns = ['ref_hash', 'user_agent']

user_agent_18_20.head()

          ref_hash                                         user_agent
0   41863526108385  Dalvik/2.1.0 (Linux; U; Android 8.0.0; LDN-LX3...
1  135153013040192                                                NaN
2  186034136943920                                                NaN
3  365882020742330  Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-G570...
4  519199987760489  Dalvik/2.1.0 (Linux; U; Android 7.1.1; H3321 B...

In [111]:
user_agent_18_20['user_agent'].fillna('', inplace= True)
user_agent_19_21['user_agent'].fillna('', inplace= True)
user_agent_20_22['user_agent'].fillna('', inplace= True)
user_agent_21_23['user_agent'].fillna('', inplace= True)
user_agent_22_24['user_agent'].fillna('', inplace= True)
user_agent_23_25['user_agent'].fillna('', inplace= True)
user_agent_24_26['user_agent'].fillna('', inplace= True)

user_agent_19_21.head()

          ref_hash                                         user_agent
0   40621409780134
1  135153013040192
2  345999128501141
3  365882020742330  Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-G570...
4  457867161681660        Grability/17420 CFNetwork/976 Darwin/18.2.0

In [112]:
instalaciones_18_20 = instalaciones_18_20.merge(user_agent_18_20, on='ref_hash', how='left')
instalaciones_19_21 = instalaciones_19_21.merge(user_agent_19_21, on='ref_hash', how='left')
instalaciones_20_22 = instalaciones_20_22.merge(user_agent_20_22, on='ref_hash', how='left')
instalaciones_21_23 = instalaciones_21_23.merge(user_agent_21_23, on='ref_hash', how='left')
instalaciones_22_24 = instalaciones_22_24.merge(user_agent_22_24, on='ref_hash', how='left')
instalaciones_23_25 = instalaciones_23_25.merge(user_agent_23_25, on='ref_hash', how='left')
instalaciones_24_26 = instalaciones_24_26.merge(user_agent_24_26, on='ref_hash', how='left')

instalaciones_20_22.head()

,ref_hash,cant_installs,device_brand,device_model,application_id,cant_apps,user_agent
0,40621409780134,1,0.000000e+00,2.019322e+18,77,1,
1,135153013040192,1,0.000000e+00,4.981016e+18,155,1,
2,161514654074162,1,2.208835e+18,6.684966e+18,65,1,Dalvik/2.1.0 (Linux; U; Android 9; moto g(6) p...
3,168103949904656,1,0.000000e+00,1.816356e+18,155,1,
4,283297668933729,1,0.000000e+00,1.805456e+18,210,1,Dalvik/2.1.0 (Linux; U; Android 7.0; SM-G570M ...

# Se agrega el lenguaje del dispositivo.

In [113]:
device_language_18_20 = installs_18_20.groupby('ref_hash').agg({'device_language': 'last'}).reset_index()
device_language_18_20.columns = ['ref_hash', 'device_language']

device_language_19_21 = installs_19_21.groupby('ref_hash').agg({'device_language': 'last'}).reset_index()
device_language_19_21.columns = ['ref_hash', 'device_language']

device_language_20_22 = installs_20_22.groupby('ref_hash').agg({'device_language': 'last'}).reset_index()
device_language_20_22.columns = ['ref_hash', 'device_language']

device_language_21_23 = installs_21_23.groupby('ref_hash').agg({'device_language': 'last'}).reset_index()
device_language_21_23.columns = ['ref_hash', 'device_language']

device_language_22_24 = installs_22_24.groupby('ref_hash').agg({'device_language': 'last'}).reset_index()
device_language_22_24.columns = ['ref_hash', 'device_language']

device_language_23_25 = installs_23_25.groupby('ref_hash').agg({'device_language': 'last'}).reset_index()
device_language_23_25.columns = ['ref_hash', 'device_language']

device_language_24_26 = installs_24_26.groupby('ref_hash').agg({'device_language': 'last'}).reset_index()
device_language_24_26.columns = ['ref_hash', 'device_language']

device_language_21_23.head()

          ref_hash  device_language
0   40621409780134     3.301378e+18
1  161514654074162     6.977049e+18
2  168103949904656     3.301378e+18
3  283297668933729     3.301378e+18
4  345999128501141     3.301378e+18

In [114]:
device_language_18_20['device_language'].fillna(0, inplace= True)
device_language_19_21['device_language'].fillna(0, inplace= True)
device_language_20_22['device_language'].fillna(0, inplace= True)
device_language_21_23['device_language'].fillna(0, inplace= True)
device_language_22_24['device_language'].fillna(0, inplace= True)
device_language_23_25['device_language'].fillna(0, inplace= True)
device_language_24_26['device_language'].fillna(0, inplace= True)

device_language_22_24.head()

          ref_hash  device_language
0   90072729247980     3.301378e+18
1  161514654074162     6.977049e+18
2  168103949904656     3.301378e+18
3  283297668933729     3.301378e+18
4  448610188195811     6.977049e+18

In [115]:
instalaciones_18_20 = instalaciones_18_20.merge(device_language_18_20, on='ref_hash', how='left')
instalaciones_19_21 = instalaciones_19_21.merge(device_language_19_21, on='ref_hash', how='left')
instalaciones_20_22 = instalaciones_20_22.merge(device_language_20_22, on='ref_hash', how='left')
instalaciones_21_23 = instalaciones_21_23.merge(device_language_21_23, on='ref_hash', how='left')
instalaciones_22_24 = instalaciones_22_24.merge(device_language_22_24, on='ref_hash', how='left')
instalaciones_23_25 = instalaciones_23_25.merge(device_language_23_25, on='ref_hash', how='left')
instalaciones_24_26 = instalaciones_24_26.merge(device_language_24_26, on='ref_hash', how='left')

instalaciones_23_25.head()

,ref_hash,cant_installs,device_brand,device_model,application_id,cant_apps,user_agent,device_language
0,90072729247980,1,0.000000e+00,6.832960e+18,210,1,Mozilla/5.0 (Linux; Android 7.0; 5011A Build/N...,3.301378e+18
1,416301579449694,1,0.000000e+00,0.000000e+00,229,1,,0.000000e+00
2,420449720220692,1,0.000000e+00,0.000000e+00,327,1,,0.000000e+00
3,448610188195811,2,2.987569e+18,3.324371e+17,145,2,Dalvik/2.1.0 (Linux; U; Android 9; Redmi Note ...,6.977049e+18
4,456015810461357,1,3.083059e+17,6.415096e+18,302,1,Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-J600...,6.977049e+18

# Join con los datos de los clicks.

In [116]:
clicks_18_20 = pd.read_csv('datos/test_and_train/clicks_18_20.csv')
clicks_19_21 = pd.read_csv('datos/test_and_train/clicks_19_21.csv')
clicks_20_22 = pd.read_csv('datos/test_and_train/clicks_20_22.csv')
clicks_21_23 = pd.read_csv('datos/test_and_train/clicks_21_23.csv')
clicks_22_24 = pd.read_csv('datos/test_and_train/clicks_22_24.csv')
clicks_23_25 = pd.read_csv('datos/test_and_train/clicks_23_25.csv')
clicks_24_26 = pd.read_csv('datos/test_and_train/clicks_24_26.csv')

clicks_24_26.head()

,ref_hash,cant_clicks,cant_wifi_clicks,mean_time_to_click,cant_sources_clicks,cant_advs_clicks,mean_location
0,7164788605058735,1,1.0,2.175,1,1,"(0.8618230495725674, 1.735196417568995)"
1,7429113196145773,1,0.0,13.488,1,1,"(0.8666887072457983, 1.7925176719557323)"
2,8452408857001723,1,1.0,0.570,1,1,"(0.8695275430369358, 1.7012852196018278)"
3,8577232270715133,1,1.0,0.000,1,1,"(0.8691574618804357, 1.712736043579654)"
4,10261987748713353,1,1.0,0.631,1,1,"(0.8604564982985929, 1.7142407690106545)"

In [117]:
instalaciones_18_20 = instalaciones_18_20.merge(clicks_18_20, on='ref_hash', how='left')
instalaciones_19_21 = instalaciones_19_21.merge(clicks_19_21, on='ref_hash', how='left')
instalaciones_20_22 = instalaciones_20_22.merge(clicks_20_22, on='ref_hash', how='left')
instalaciones_21_23 = instalaciones_21_23.merge(clicks_21_23, on='ref_hash', how='left')
instalaciones_22_24 = instalaciones_22_24.merge(clicks_22_24, on='ref_hash', how='left')
instalaciones_23_25 = instalaciones_23_25.merge(clicks_23_25, on='ref_hash', how='left')
instalaciones_24_26 = instalaciones_24_26.merge(clicks_24_26, on='ref_hash', how='left')

instalaciones_18_20.head()

,ref_hash,cant_installs,device_brand,device_model,application_id,cant_apps,user_agent,device_language,cant_clicks,cant_wifi_clicks,mean_time_to_click,cant_sources_clicks,cant_advs_clicks,mean_location
0,41863526108385,4,6.115026e+18,1.658417e+18,121,2,Dalvik/2.1.0 (Linux; U; Android 8.0.0; LDN-LX3...,6.977049e+18,NaN,NaN,NaN,NaN,NaN,NaN
1,135153013040192,1,0.000000e+00,4.981016e+18,155,1,,3.301378e+18,NaN,NaN,NaN,NaN,NaN,NaN
2,186034136943920,1,0.000000e+00,0.000000e+00,210,1,,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
3,365882020742330,1,3.083059e+17,1.805456e+18,302,1,Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-G570...,6.977049e+18,NaN,NaN,NaN,NaN,NaN,NaN
4,519199987760489,1,8.461030e+18,1.295045e+18,187,1,Dalvik/2.1.0 (Linux; U; Android 7.1.1; H3321 B...,6.977049e+18,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
instalaciones_18_20['cant_clicks'].fillna(0, inplace= True)
instalaciones_19_21['cant_clicks'].fillna(0, inplace= True)
instalaciones_20_22['cant_clicks'].fillna(0, inplace= True)
instalaciones_21_23['cant_clicks'].fillna(0, inplace= True)
instalaciones_22_24['cant_clicks'].fillna(0, inplace= True)
instalaciones_23_25['cant_clicks'].fillna(0, inplace= True)
instalaciones_24_26['cant_clicks'].fillna(0, inplace= True)

instalaciones_18_20['cant_wifi_clicks'].fillna(0, inplace= True)
instalaciones_19_21['cant_wifi_clicks'].fillna(0, inplace= True)
instalaciones_20_22['cant_wifi_clicks'].fillna(0, inplace= True)
instalaciones_21_23['cant_wifi_clicks'].fillna(0, inplace= True)
instalaciones_22_24['cant_wifi_clicks'].fillna(0, inplace= True)
instalaciones_23_25['cant_wifi_clicks'].fillna(0, inplace= True)
instalaciones_24_26['cant_wifi_clicks'].fillna(0, inplace= True)

instalaciones_18_20['mean_time_to_click'].fillna(0, inplace= True)
instalaciones_19_21['mean_time_to_click'].fillna(0, inplace= True)
instalaciones_20_22['mean_time_to_click'].fillna(0, inplace= True)
instalaciones_21_23['mean_time_to_click'].fillna(0, inplace= True)
instalaciones_22_24['mean_time_to_click'].fillna(0, inplace= True)
instalaciones_23_25['mean_time_to_click'].fillna(0, inplace= True)
instalaciones_24_26['mean_time_to_click'].fillna(0, inplace= True)

instalaciones_18_20['cant_sources_clicks'].fillna(0, inplace= True)
instalaciones_19_21['cant_sources_clicks'].fillna(0, inplace= True)
instalaciones_20_22['cant_sources_clicks'].fillna(0, inplace= True)
instalaciones_21_23['cant_sources_clicks'].fillna(0, inplace= True)
instalaciones_22_24['cant_sources_clicks'].fillna(0, inplace= True)
instalaciones_23_25['cant_sources_clicks'].fillna(0, inplace= True)
instalaciones_24_26['cant_sources_clicks'].fillna(0, inplace= True)

instalaciones_18_20['cant_advs_clicks'].fillna(0, inplace= True)
instalaciones_19_21['cant_advs_clicks'].fillna(0, inplace= True)
instalaciones_20_22['cant_advs_clicks'].fillna(0, inplace= True)
instalaciones_21_23['cant_advs_clicks'].fillna(0, inplace= True)
instalaciones_22_24['cant_advs_clicks'].fillna(0, inplace= True)
instalaciones_23_25['cant_advs_clicks'].fillna(0, inplace= True)
instalaciones_24_26['cant_advs_clicks'].fillna(0, inplace= True)

instalaciones_18_20['mean_location'].fillna(0, inplace= True)
instalaciones_19_21['mean_location'].fillna(0, inplace= True)
instalaciones_20_22['mean_location'].fillna(0, inplace= True)
instalaciones_21_23['mean_location'].fillna(0, inplace= True)
instalaciones_22_24['mean_location'].fillna(0, inplace= True)
instalaciones_23_25['mean_location'].fillna(0, inplace= True)
instalaciones_24_26['mean_location'].fillna(0, inplace= True)

instalaciones_19_21.head()

,ref_hash,cant_installs,device_brand,device_model,application_id,cant_apps,user_agent,device_language,cant_clicks,cant_wifi_clicks,mean_time_to_click,cant_sources_clicks,cant_advs_clicks,mean_location
0,40621409780134,1,0.000000e+00,2.019322e+18,77,1,,3.301378e+18,0.0,0.0,0.0,0.0,0.0,0
1,135153013040192,1,0.000000e+00,4.981016e+18,155,1,,3.301378e+18,0.0,0.0,0.0,0.0,0.0,0
2,345999128501141,1,0.000000e+00,1.709140e+17,155,1,,3.301378e+18,0.0,0.0,0.0,0.0,0.0,0
3,365882020742330,1,3.083059e+17,1.805456e+18,302,1,Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-G570...,6.977049e+18,0.0,0.0,0.0,0.0,0.0,0
4,457867161681660,1,0.000000e+00,6.794880e+18,68,1,Grability/17420 CFNetwork/976 Darwin/18.2.0,8.441417e+18,0.0,0.0,0.0,0.0,0.0,0

# Se agrega el time to install.

In [119]:
time_to_install_18_20 = installs_18_20.groupby('ref_hash').agg({'time_to_install': 'mean'}).reset_index()
time_to_install_18_20.columns = ['ref_hash', 'time_to_install']

time_to_install_19_21 = installs_19_21.groupby('ref_hash').agg({'time_to_install': 'mean'}).reset_index()
time_to_install_19_21.columns = ['ref_hash', 'time_to_install']

time_to_install_20_22 = installs_20_22.groupby('ref_hash').agg({'time_to_install': 'mean'}).reset_index()
time_to_install_20_22.columns = ['ref_hash', 'time_to_install']

time_to_install_21_23 = installs_21_23.groupby('ref_hash').agg({'time_to_install': 'mean'}).reset_index()
time_to_install_21_23.columns = ['ref_hash', 'time_to_install']

time_to_install_22_24 = installs_22_24.groupby('ref_hash').agg({'time_to_install': 'mean'}).reset_index()
time_to_install_22_24.columns = ['ref_hash', 'time_to_install']

time_to_install_23_25 = installs_23_25.groupby('ref_hash').agg({'time_to_install': 'mean'}).reset_index()
time_to_install_23_25.columns = ['ref_hash', 'time_to_install']

time_to_install_24_26 = installs_24_26.groupby('ref_hash').agg({'time_to_install': 'mean'}).reset_index()
time_to_install_24_26.columns = ['ref_hash', 'time_to_install']

time_to_install_20_22.head()

          ref_hash  time_to_install
0   40621409780134       155867.657
1  135153013040192        20180.258
2  161514654074162       238424.805
3  168103949904656       173373.188
4  283297668933729       222129.476

In [120]:
# 3 dias son 259200 segundos
time_to_install_18_20['time_to_install'].fillna(259200, inplace= True)
time_to_install_19_21['time_to_install'].fillna(259200, inplace= True)
time_to_install_20_22['time_to_install'].fillna(259200, inplace= True)
time_to_install_21_23['time_to_install'].fillna(259200, inplace= True)
time_to_install_22_24['time_to_install'].fillna(259200, inplace= True)
time_to_install_23_25['time_to_install'].fillna(259200, inplace= True)
time_to_install_24_26['time_to_install'].fillna(259200, inplace= True)

time_to_install_21_23.head()

          ref_hash  time_to_install
0   40621409780134        69467.657
1  161514654074162       152024.805
2  168103949904656        86973.188
3  283297668933729       135729.476
4  345999128501141        15578.532

In [121]:
instalaciones_18_20 = instalaciones_18_20.merge(time_to_install_18_20, on='ref_hash', how='left')
instalaciones_19_21 = instalaciones_19_21.merge(time_to_install_19_21, on='ref_hash', how='left')
instalaciones_20_22 = instalaciones_20_22.merge(time_to_install_20_22, on='ref_hash', how='left')
instalaciones_21_23 = instalaciones_21_23.merge(time_to_install_21_23, on='ref_hash', how='left')
instalaciones_22_24 = instalaciones_22_24.merge(time_to_install_22_24, on='ref_hash', how='left')
instalaciones_23_25 = instalaciones_23_25.merge(time_to_install_23_25, on='ref_hash', how='left')
instalaciones_24_26 = instalaciones_24_26.merge(time_to_install_24_26, on='ref_hash', how='left')

instalaciones_18_20.head()

,ref_hash,cant_installs,device_brand,device_model,application_id,cant_apps,user_agent,device_language,cant_clicks,cant_wifi_clicks,mean_time_to_click,cant_sources_clicks,cant_advs_clicks,mean_location,time_to_install
0,41863526108385,4,6.115026e+18,1.658417e+18,121,2,Dalvik/2.1.0 (Linux; U; Android 8.0.0; LDN-LX3...,6.977049e+18,0.0,0.0,0.0,0.0,0.0,0,76472.69225
1,135153013040192,1,0.000000e+00,4.981016e+18,155,1,,3.301378e+18,0.0,0.0,0.0,0.0,0.0,0,192980.25800
2,186034136943920,1,0.000000e+00,0.000000e+00,210,1,,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0,60042.83900
3,365882020742330,1,3.083059e+17,1.805456e+18,302,1,Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-G570...,6.977049e+18,0.0,0.0,0.0,0.0,0.0,0,96156.50800
4,519199987760489,1,8.461030e+18,1.295045e+18,187,1,Dalvik/2.1.0 (Linux; U; Android 7.1.1; H3321 B...,6.977049e+18,0.0,0.0,0.0,0.0,0.0,0,92860.47500

# Join de targets con features.

In [122]:
# Leo el archivo target.
targets = pd.read_csv('datos/target_competencia_ids.csv')

In [123]:
instalaciones_18_20['ref_hash'] = instalaciones_18_20['ref_hash'].astype(str) + '_sc'
instalaciones_18_20['ref_hash'] = instalaciones_18_20['ref_hash'].astype('object')

instalaciones_19_21['ref_hash'] = instalaciones_19_21['ref_hash'].astype(str) + '_sc'
instalaciones_19_21['ref_hash'] = instalaciones_19_21['ref_hash'].astype('object')

instalaciones_20_22['ref_hash'] = instalaciones_20_22['ref_hash'].astype(str) + '_sc'
instalaciones_20_22['ref_hash'] = instalaciones_20_22['ref_hash'].astype('object')

instalaciones_21_23['ref_hash'] = instalaciones_21_23['ref_hash'].astype(str) + '_sc'
instalaciones_21_23['ref_hash'] = instalaciones_21_23['ref_hash'].astype('object')

instalaciones_22_24['ref_hash'] = instalaciones_22_24['ref_hash'].astype(str) + '_sc'
instalaciones_22_24['ref_hash'] = instalaciones_22_24['ref_hash'].astype('object')

instalaciones_23_25['ref_hash'] = instalaciones_23_25['ref_hash'].astype(str) + '_sc'
instalaciones_23_25['ref_hash'] = instalaciones_23_25['ref_hash'].astype('object')

instalaciones_24_26['ref_hash'] = instalaciones_24_26['ref_hash'].astype(str) + '_sc'
instalaciones_24_26['ref_hash'] = instalaciones_24_26['ref_hash'].astype('object')

instalaciones_19_21.head()

,ref_hash,cant_installs,device_brand,device_model,application_id,cant_apps,user_agent,device_language,cant_clicks,cant_wifi_clicks,mean_time_to_click,cant_sources_clicks,cant_advs_clicks,mean_location,time_to_install
0,40621409780134_sc,1,0.000000e+00,2.019322e+18,77,1,,3.301378e+18,0.0,0.0,0.0,0.0,0.0,0,242267.657
1,135153013040192_sc,1,0.000000e+00,4.981016e+18,155,1,,3.301378e+18,0.0,0.0,0.0,0.0,0.0,0,106580.258
2,345999128501141_sc,1,0.000000e+00,1.709140e+17,155,1,,3.301378e+18,0.0,0.0,0.0,0.0,0.0,0,188378.532
3,365882020742330_sc,1,3.083059e+17,1.805456e+18,302,1,Dalvik/2.1.0 (Linux; U; Android 8.0.0; SM-G570...,6.977049e+18,0.0,0.0,0.0,0.0,0.0,0,9756.508
4,457867161681660_sc,1,0.000000e+00,6.794880e+18,68,1,Grability/17420 CFNetwork/976 Darwin/18.2.0,8.441417e+18,0.0,0.0,0.0,0.0,0.0,0,251847.288

In [129]:
merged_targets_18_20 = targets.merge(instalaciones_18_20, on='ref_hash', how='left').drop('obj', axis=1)
merged_targets_18_20 = merged_targets_18_20.loc[merged_targets_18_20['ref_hash'].str.contains('_sc'), :]

merged_targets_19_21 = targets.merge(instalaciones_19_21, on='ref_hash', how='left').drop('obj', axis=1)
merged_targets_19_21 = merged_targets_19_21.loc[merged_targets_19_21['ref_hash'].str.contains('_sc'), :]

merged_targets_20_22 = targets.merge(instalaciones_20_22, on='ref_hash', how='left').drop('obj', axis=1)
merged_targets_20_22 = merged_targets_20_22.loc[merged_targets_20_22['ref_hash'].str.contains('_sc'), :]

merged_targets_21_23 = targets.merge(instalaciones_21_23, on='ref_hash', how='left').drop('obj', axis=1)
merged_targets_21_23 = merged_targets_21_23.loc[merged_targets_21_23['ref_hash'].str.contains('_sc'), :]

merged_targets_22_24 = targets.merge(instalaciones_22_24, on='ref_hash', how='left').drop('obj', axis=1)
merged_targets_22_24 = merged_targets_22_24.loc[merged_targets_22_24['ref_hash'].str.contains('_sc'), :]

merged_targets_23_25 = targets.merge(instalaciones_23_25, on='ref_hash', how='left').drop('obj', axis=1)
merged_targets_23_25 = merged_targets_23_25.loc[merged_targets_23_25['ref_hash'].str.contains('_sc'), :]

merged_targets_24_26 = targets.merge(instalaciones_24_26, on='ref_hash', how='left').drop('obj', axis=1)
merged_targets_24_26 = merged_targets_24_26.loc[merged_targets_24_26['ref_hash'].str.contains('_sc'), :]

merged_targets_20_22.head()

,ref_hash,cant_installs,device_brand,device_model,application_id,cant_apps,user_agent,device_language,cant_clicks,cant_wifi_clicks,mean_time_to_click,cant_sources_clicks,cant_advs_clicks,mean_location,time_to_install
0,1000169251625791246_sc,1.0,0.000000e+00,1.805456e+18,122.0,1.0,,3.301378e+18,0.0,0.0,0.0,0.0,0.0,0,116046.178
2,1000395625957344683_sc,2.0,6.115026e+18,8.058599e+17,121.0,1.0,Dalvik/2.1.0 (Linux; U; Android 8.0.0; RNE-L03...,6.977049e+18,0.0,0.0,0.0,0.0,0.0,0,21566.897
4,1003027494996471685_sc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1006670001679961544_sc,2.0,0.000000e+00,6.794880e+18,68.0,1.0,Grability/17420 CFNetwork/978.0.7 Darwin/18.5.0,8.441417e+18,0.0,0.0,0.0,0.0,0.0,0,91244.053
8,1007573308966476713_sc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
# 3 dias son 259200 segundos
merged_targets_18_20['time_to_install'].fillna(259200, inplace= True)
merged_targets_19_21['time_to_install'].fillna(259200, inplace= True)
merged_targets_20_22['time_to_install'].fillna(259200, inplace= True)
merged_targets_21_23['time_to_install'].fillna(259200, inplace= True)
merged_targets_22_24['time_to_install'].fillna(259200, inplace= True)
merged_targets_23_25['time_to_install'].fillna(259200, inplace= True)
merged_targets_24_26['time_to_install'].fillna(259200, inplace= True)

merged_targets_21_23.head()

,ref_hash,cant_installs,device_brand,device_model,application_id,cant_apps,user_agent,device_language,cant_clicks,cant_wifi_clicks,mean_time_to_click,cant_sources_clicks,cant_advs_clicks,mean_location,time_to_install
0,1000169251625791246_sc,1.0,0.000000e+00,1.805456e+18,122.0,1.0,,3.301378e+18,0.0,0.0,0.0,0.0,0.0,0,29646.1780
2,1000395625957344683_sc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,259200.0000
4,1003027494996471685_sc,2.0,6.115026e+18,8.590181e+18,14.0,1.0,,3.301378e+18,0.0,0.0,0.0,0.0,0.0,0,247044.3875
6,1006670001679961544_sc,2.0,0.000000e+00,6.794880e+18,68.0,1.0,Grability/17420 CFNetwork/978.0.7 Darwin/18.5.0,8.441417e+18,0.0,0.0,0.0,0.0,0.0,0,4844.0530
8,1007573308966476713_sc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,259200.0000

# Se guardan los datos.

In [131]:
merged_targets_18_20.to_csv('datos/test_and_train/installs_18_20.csv', index=False)
merged_targets_19_21.to_csv('datos/test_and_train/installs_19_21.csv', index=False)
merged_targets_20_22.to_csv('datos/test_and_train/installs_20_22.csv', index=False)
merged_targets_21_23.to_csv('datos/test_and_train/installs_21_23.csv', index=False)
merged_targets_22_24.to_csv('datos/test_and_train/installs_22_24.csv', index=False)
merged_targets_23_25.to_csv('datos/test_and_train/installs_23_25.csv', index=False)
merged_targets_24_26.to_csv('datos/test_and_train/installs_24_26.csv', index=False)