In [1]:
# imports de librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

%matplotlib inline

plt.style.use('default')
sns.set(style="whitegrid") # tipo de grid seaborn

In [2]:
path_auctions = 'auctions.csv.gzip'
auctions = pd.read_csv(path_auctions, compression='gzip')

# Analisis Previo

In [3]:
auctions.shape

(19571319, 7)

Hay 7 columnas y 19571319 registros

In [4]:
auctions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19571319 entries, 0 to 19571318
Data columns (total 7 columns):
auction_type_id    float64
country            int64
date               object
device_id          int64
platform           int64
ref_type_id        int64
source_id          int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.0+ GB

In [5]:
auctions.describe()

,auction_type_id,country,device_id,platform,ref_type_id,source_id
count,0.0,1.957132e+07,1.957132e+07,1.957132e+07,1.957132e+07,1.957132e+07
mean,NaN,6.333597e+18,4.599151e+18,1.205888e+00,2.235326e+00,6.857898e-01
std,NaN,3.016674e+09,2.667138e+18,4.043488e-01,2.426093e+00,1.416215e+00
min,NaN,6.333597e+18,1.138588e+14,1.000000e+00,1.000000e+00,0.000000e+00
25%,NaN,6.333597e+18,2.258716e+18,1.000000e+00,1.000000e+00,0.000000e+00
50%,NaN,6.333597e+18,4.616600e+18,1.000000e+00,1.000000e+00,0.000000e+00
75%,NaN,6.333597e+18,6.911427e+18,1.000000e+00,1.000000e+00,1.000000e+00
max,NaN,6.333597e+18,9.223339e+18,2.000000e+00,7.000000e+00,6.000000e+00

auction_type_id es NaN para todos los registros. El resto de las columnas no tiene nulos.

In [6]:
auctions.head(10)

,auction_type_id,country,date,device_id,platform,ref_type_id,source_id
0,NaN,6333597102633388268,2019-03-11 14:18:33.290763,6059599345986491085,1,1,0
1,NaN,6333597102633388268,2019-03-11 14:18:34.440157,1115994996230693426,1,1,0
2,NaN,6333597102633388268,2019-03-11 14:18:35.862360,7463856250762200923,1,1,0
3,NaN,6333597102633388268,2019-03-11 14:18:36.167163,7829815350267792040,1,1,0
4,NaN,6333597102633388268,2019-03-11 14:18:37.728590,1448534231953777480,1,1,0
5,NaN,6333597102633388268,2019-03-11 14:18:37.939485,1448534231953777480,1,1,0
6,NaN,6333597102633388268,2019-03-11 14:18:39.285471,7197160868095710320,1,1,0
7,NaN,6333597102633388268,2019-03-11 14:18:42.823963,160071254383181872,1,1,0
8,NaN,6333597102633388268,2019-03-11 14:18:43.587421,961481517958884390,1,1,0
9,NaN,6333597102633388268,2019-03-11 14:18:44.470248,2960551690927930513,1,1,0

In [7]:
# Lo comento porque en mi compu si agrego esto me genera MemoryError
# Damos formato a la fecha.
#auctions['timestamp_format'] = pd.to_datetime(auctions['date'])

# Agrego columna fecha
#auctions['fecha'] = auctions['timestamp_format'].dt.date
# Agrego columna de mes.
#auctions['month'] = auctions['timestamp_format'].dt.month
# Agrego columna nombre dia.
#auctions['weekday_name'] = auctions['timestamp_format'].dt.weekday_name
# Agrego columna numero dia.
#auctions['day'] = auctions['timestamp_format'].dt.day
# Agrego columna de horas
#auctions['hour'] = auctions['timestamp_format'].dt.hour

# Cuantas auctions hay por pais?

In [9]:
auctions.groupby('country')['country'].count()

country
6333597102633388268    19571319
Name: country, dtype: int64

La data disponible proviene de un solo pais. El codigo coincide con el del pais en clicks.csv

In [10]:
auctions.groupby('source_id')['source_id'].count()

source_id
0    13354597
1     4016739
2      582083
5     1466494
6      151406
Name: source_id, dtype: int64