In [22]:
import pandas as pd
import numpy as np
import datetime

In [23]:
#Leo la data proveniente de un csv
path_auctions = 'datos/auctions.csv'
auctions = pd.read_csv(path_auctions)

In [24]:
# Damos formato a la fecha.
auctions['timestamp_format'] = pd.to_datetime(auctions['date'])
# Agrego columna fecha
auctions['date_timestamp'] = auctions['timestamp_format'].dt.date
# Agrego columna numero dia.
auctions['day'] = auctions['timestamp_format'].dt.day

In [25]:
# ventanas de 3 dias
auctions18_20 = auctions[(auctions['day'] >= 18) & (auctions['day'] < 21)]
auctions19_21 = auctions[(auctions['day'] >= 19) & (auctions['day'] < 22)]
auctions20_22 = auctions[(auctions['day'] >= 20) & (auctions['day'] < 23)]
auctions21_23 = auctions[(auctions['day'] >= 21) & (auctions['day'] < 24)]
auctions22_24 = auctions[(auctions['day'] >= 22) & (auctions['day'] < 25)]
auctions23_25 = auctions[(auctions['day'] >= 23) & (auctions['day'] < 26)]
auctions24_26 = auctions[(auctions['day'] >= 24) & (auctions['day'] < 27)]

In [26]:
# Agregamos variable a predecir a los dataframes
auctions18_20['base_time'] = datetime.datetime(2019, 4, 18)
auctions18_20['time_to_auction'] = (auctions18_20['timestamp_format'] - auctions18_20['base_time']) / np.timedelta64(1, 's')

auctions19_21['base_time'] = datetime.datetime(2019, 4, 19)
auctions19_21['time_to_auction'] = (auctions19_21['timestamp_format'] - auctions19_21['base_time']) / np.timedelta64(1, 's')

auctions20_22['base_time'] = datetime.datetime(2019, 4, 20)
auctions20_22['time_to_auction'] = (auctions20_22['timestamp_format'] - auctions20_22['base_time']) / np.timedelta64(1, 's')

auctions21_23['base_time'] = datetime.datetime(2019, 4, 21)
auctions21_23['time_to_auction'] = (auctions21_23['timestamp_format'] - auctions21_23['base_time']) / np.timedelta64(1, 's')

auctions22_24['base_time'] = datetime.datetime(2019, 4, 22)
auctions22_24['time_to_auction'] = (auctions22_24['timestamp_format'] - auctions22_24['base_time']) / np.timedelta64(1, 's')

auctions23_25['base_time'] = datetime.datetime(2019, 4, 23)
auctions23_25['time_to_auction'] = (auctions23_25['timestamp_format'] - auctions23_25['base_time']) / np.timedelta64(1, 's')

auctions24_26['base_time'] = datetime.datetime(2019, 4, 24)
auctions24_26['time_to_auction'] = (auctions24_26['timestamp_format'] - auctions24_26['base_time']) / np.timedelta64(1, 's')

/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
auctions18_20.head(10)

,date,device_id,ref_type_id,source_id,timestamp_format,date_timestamp,day,base_time,time_to_auction
221726,2019-04-20 23:57:27.912838,1109595589636746168,7,0,2019-04-20 23:57:27.912838,2019-04-20,20,2019-04-18,259047.912838
221727,2019-04-20 23:57:28.381114,5896614299191635403,1,0,2019-04-20 23:57:28.381114,2019-04-20,20,2019-04-18,259048.381114
221728,2019-04-20 23:57:28.515423,4172466725848941608,1,0,2019-04-20 23:57:28.515423,2019-04-20,20,2019-04-18,259048.515423
221729,2019-04-20 23:57:28.700884,2616279795187318849,7,0,2019-04-20 23:57:28.700884,2019-04-20,20,2019-04-18,259048.700884
221730,2019-04-20 23:57:28.868312,8034952072073026056,1,0,2019-04-20 23:57:28.868312,2019-04-20,20,2019-04-18,259048.868312
221731,2019-04-20 23:57:29.202778,8018738201130876812,1,0,2019-04-20 23:57:29.202778,2019-04-20,20,2019-04-18,259049.202778
221732,2019-04-20 23:57:29.441246,4914962826064649332,7,0,2019-04-20 23:57:29.441246,2019-04-20,20,2019-04-18,259049.441246
221733,2019-04-20 23:57:29.644078,3249069566262483358,1,0,2019-04-20 23:57:29.644078,2019-04-20,20,2019-04-18,259049.644078
221734,2019-04-20 23:57:29.896508,3352762403977995643,1,0,2019-04-20 23:57:29.896508,2019-04-20,20,2019-04-18,259049.896508
221735,2019-04-20 23:57:30.453524,9003488718010194664,1,0,2019-04-20 23:57:30.453524,2019-04-20,20,2019-04-18,259050.453524

# Feature Engineering

## Cantidad de Subastas

In [28]:
auctions18_20['ref_hash'] = auctions18_20['device_id']
del auctions18_20['device_id']

auctions21_23['ref_hash'] = auctions21_23['device_id']
del auctions21_23['device_id']

auctions18_20.head(10)

/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/german/.local/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,date,ref_type_id,source_id,timestamp_format,date_timestamp,day,base_time,time_to_auction,ref_hash
221726,2019-04-20 23:57:27.912838,7,0,2019-04-20 23:57:27.912838,2019-04-20,20,2019-04-18,259047.912838,1109595589636746168
221727,2019-04-20 23:57:28.381114,1,0,2019-04-20 23:57:28.381114,2019-04-20,20,2019-04-18,259048.381114,5896614299191635403
221728,2019-04-20 23:57:28.515423,1,0,2019-04-20 23:57:28.515423,2019-04-20,20,2019-04-18,259048.515423,4172466725848941608
221729,2019-04-20 23:57:28.700884,7,0,2019-04-20 23:57:28.700884,2019-04-20,20,2019-04-18,259048.700884,2616279795187318849
221730,2019-04-20 23:57:28.868312,1,0,2019-04-20 23:57:28.868312,2019-04-20,20,2019-04-18,259048.868312,8034952072073026056
221731,2019-04-20 23:57:29.202778,1,0,2019-04-20 23:57:29.202778,2019-04-20,20,2019-04-18,259049.202778,8018738201130876812
221732,2019-04-20 23:57:29.441246,7,0,2019-04-20 23:57:29.441246,2019-04-20,20,2019-04-18,259049.441246,4914962826064649332
221733,2019-04-20 23:57:29.644078,1,0,2019-04-20 23:57:29.644078,2019-04-20,20,2019-04-18,259049.644078,3249069566262483358
221734,2019-04-20 23:57:29.896508,1,0,2019-04-20 23:57:29.896508,2019-04-20,20,2019-04-18,259049.896508,3352762403977995643
221735,2019-04-20 23:57:30.453524,1,0,2019-04-20 23:57:30.453524,2019-04-20,20,2019-04-18,259050.453524,9003488718010194664

In [29]:
final = auctions18_20.groupby('ref_hash')['date'].count().reset_index()
final.columns = ['ref_hash', 'cant_installs']
final2 = auctions21_23.groupby('ref_hash')['date'].count().reset_index()
final2.columns = ['ref_hash', 'cant_auctions']

## Cantidad de Sources distintas

In [30]:
cantidad_de_sources = auctions18_20.groupby('ref_hash')['source_id'].nunique().reset_index()
cantidad_de_sources.columns = ['ref_hash', 'cant_sources']

final = final.merge(cantidad_de_sources, on='ref_hash', how='left')
final['cant_sources'].fillna(0, inplace= True)

In [31]:
cantidad_de_sources2 = auctions21_23.groupby('ref_hash')['source_id'].nunique().reset_index()
cantidad_de_sources2.columns = ['ref_hash', 'cant_sources']

final2 = final2.merge(cantidad_de_sources2, on='ref_hash', how='left')
final2['cant_sources'].fillna(0, inplace= True)

## Cantidad de Reference types distintos

In [32]:
cantidad_de_types = auctions18_20.groupby('ref_hash')['ref_type_id'].nunique().reset_index()
cantidad_de_types.columns = ['ref_hash', 'cant_types']

final = final.merge(cantidad_de_types, on='ref_hash', how='left')
final['cant_types'].fillna(0, inplace= True)

In [33]:
cantidad_de_types2 = auctions21_23.groupby('ref_hash')['ref_type_id'].nunique().reset_index()
cantidad_de_types2.columns = ['ref_hash', 'cant_types']

final2 = final2.merge(cantidad_de_types2, on='ref_hash', how='left')
final2['cant_types'].fillna(0, inplace= True)

## TimeToAuction -> variable a predecir

In [34]:
time_to_auction = auctions18_20.groupby('ref_hash').agg({'time_to_auction': 'mean'}).reset_index()
time_to_auction.columns = ['ref_hash', 'time_to_auction']

# 3 dias son 259200 segundos
final = final.merge(time_to_auction, on='ref_hash', how='left')
final['time_to_auction'].fillna(259200, inplace= True)

In [35]:
time_to_auction2 = auctions21_23.groupby('ref_hash').agg({'time_to_auction': 'mean'}).reset_index()
time_to_auction2.columns = ['ref_hash', 'time_to_auction']

# 3 dias son 259200 segundos
final2 = final2.merge(time_to_auction2, on='ref_hash', how='left')
final2['time_to_auction'].fillna(259200, inplace= True)

In [36]:
final.head(10)

          ref_hash  cant_installs  cant_sources  cant_types  time_to_auction
0   41863526108385             35             3           1    185636.567707
1  135153013040192              8             1           1    188382.438652
2  161514654074162              6             3           1     10425.597361
3  181891380775191              1             1           1    256765.420614
4  186034136943920              7             1           1    160935.721167
5  283297668933729              1             1           1     80684.520583
6  345999128501141             48             3           1     60477.901544
7  360710529886978             13             2           1    114163.007774
8  365882020742330              5             2           1    117294.828169
9  407152743717620              1             1           1     63315.963697

In [37]:
final2.head(10)

          ref_hash  cant_auctions  cant_sources  cant_types  time_to_auction
0   40621409780134              1             1           1    226857.222979
1  168103949904656              1             1           1    173044.526198
2  186034136943920             59             1           1    122681.712895
3  295841792051458              1             1           1       432.827168
4  345999128501141             24             2           1    248794.762933
5  360710529886978              1             1           1    245538.096215
6  416301579449694             14             2           1     67155.134868
7  473668258229864              3             1           1    128875.980375
8  501790157110512             18             2           1     78873.026395
9  519199987760489              2             2           1    119726.294920

## Join de targets con features

In [38]:
targets = pd.read_csv('datos/target_competencia_ids.csv')

In [39]:
final['ref_hash'] = final['ref_hash'].astype(str) + '_st'
final['ref_hash'] = final['ref_hash'].astype('object')

merged_18_20_targets = targets.merge(final, on='ref_hash', how='left').drop('obj', axis=1)

# 3 dias son 259200 segundos
merged_18_20_targets['time_to_auction'] = merged_18_20_targets['time_to_auction'].fillna(259200)

In [40]:
final2['ref_hash'] = final2['ref_hash'].astype(str) + '_st'
final2['ref_hash'] = final2['ref_hash'].astype('object')

merged_21_23_targets = targets.merge(final2, on='ref_hash', how='left').drop('obj', axis=1)

# 3 dias son 259200 segundos
merged_21_23_targets['time_to_auction'] = merged_21_23_targets['time_to_auction'].fillna(259200)

In [41]:
merged_21_23_targets

,ref_hash,cant_auctions,cant_sources,cant_types,time_to_auction
0,1000169251625791246_sc,NaN,NaN,NaN,259200.000000
1,1000169251625791246_st,5.0,1.0,1.0,167776.943525
2,1000395625957344683_sc,NaN,NaN,NaN,259200.000000
3,1000395625957344683_st,7.0,4.0,1.0,146573.807116
4,1003027494996471685_sc,NaN,NaN,NaN,259200.000000
5,1003027494996471685_st,2.0,1.0,1.0,73885.989196
6,1006670001679961544_sc,NaN,NaN,NaN,259200.000000
7,1006670001679961544_st,NaN,NaN,NaN,259200.000000
8,1007573308966476713_sc,NaN,NaN,NaN,259200.000000
9,1007573308966476713_st,2.0,1.0,1.0,186611.246260
10,1010070503877148763_sc,NaN,NaN,NaN,259200.000000
11,1010070503877148763_st,2.0,2.0,1.0,146233.135303
12,1010265377387765028_sc,NaN,NaN,NaN,259200.000000
13,1010265377387765028_st,45.0,3.0,1.0,53093.115074
14,1010531372912327058_sc,NaN,NaN,NaN,259200.000000
15,1010531372912327058_st,3.0,2.0,1.0,139566.262287
16,1011610998357271358_sc,NaN,NaN,NaN,259200.000000
17,1011610998357271358_st,NaN,NaN,NaN,259200.000000
18,1013543838965040946_sc,NaN,NaN,NaN,259200.000000
19,1013543838965040946_st,3.0,2.0,1.0,191095.993332
20,1014428234021750342_sc,NaN,NaN,NaN,259200.000000
21,1014428234021750342_st,5.0,1.0,1.0,141752.700205
22,101763096421653092_sc,NaN,NaN,NaN,259200.000000
23,101763096421653092_st,1.0,1.0,1.0,255856.899183
24,1017668882534236751_sc,NaN,NaN,NaN,259200.000000
25,1017668882534236751_st,18.0,3.0,1.0,66918.406793
26,1017958004932387739_sc,NaN,NaN,NaN,259200.000000
27,1017958004932387739_st,16.0,2.0,1.0,146645.116750
28,1018126962792619181_sc,NaN,NaN,NaN,259200.000000
29,1018126962792619181_st,NaN,NaN,NaN,259200.000000
...,...,...,...,...,...
8044,950195972417607793_sc,NaN,NaN,NaN,259200.000000
8045,950195972417607793_st,3.0,1.0,1.0,180277.575209
8046,954110623376544206_sc,NaN,NaN,NaN,259200.000000
8047,954110623376544206_st,36.0,4.0,1.0,157320.950710
8048,954940018576714924_sc,NaN,NaN,NaN,259200.000000
8049,954940018576714924_st,NaN,NaN,NaN,259200.000000
8050,956704247780926402_sc,NaN,NaN,NaN,259200.000000
8051,956704247780926402_st,11.0,1.0,1.0,179891.515633
8052,960623204161846765_sc,NaN,NaN,NaN,259200.000000
8053,960623204161846765_st,10.0,1.0,1.0,124222.765667
8054,961631829441650729_sc,NaN,NaN,NaN,259200.000000
8055,961631829441650729_st,NaN,NaN,NaN,259200.000000
8056,962595921037755088_sc,NaN,NaN,NaN,259200.000000
8057,962595921037755088_st,175.0,3.0,1.0,136471.913887
8058,964658792449865522_sc,NaN,NaN,NaN,259200.000000
8059,964658792449865522_st,4.0,1.0,1.0,149445.989846
8060,974553511695777483_sc,NaN,NaN,NaN,259200.000000
8061,974553511695777483_st,8.0,2.0,1.0,141358.519515
8062,97694307709005918_sc,NaN,NaN,NaN,259200.000000
8063,97694307709005918_st,3.0,1.0,1.0,98214.401375
8064,977508757724050464_sc,NaN,NaN,NaN,259200.000000
8065,977508757724050464_st,NaN,NaN,NaN,259200.000000
8066,979880031097032355_sc,NaN,NaN,NaN,259200.000000
8067,979880031097032355_st,NaN,NaN,NaN,259200.000000
8068,987443249627191692_sc,NaN,NaN,NaN,259200.000000
8069,987443249627191692_st,43.0,3.0,1.0,130717.484454
8070,997953354533822687_sc,NaN,NaN,NaN,259200.000000
8071,997953354533822687_st,1.0,1.0,1.0,159318.033074
8072,998948062397755366_sc,NaN,NaN,NaN,259200.000000
8073,998948062397755366_st,6.0,1.0,1.0,189322.027575

In [42]:
merged_18_20_targets.to_csv('test_and_train_auctions/data_18_20.csv', index=False)
merged_21_23_targets.to_csv('test_and_train_auctions/data_21_23.csv', index=False)