In [26]:
# imports de librerias
import pandas as pd

In [27]:
# Leo el archivo de auctions.
auctions = pd.read_csv('auctions.csv.gzip', compression='gzip')
auctions.head(20)

# Leo el archivo de installs.
installs = pd.read_csv('installs.csv.gzip', compression='gzip')
installs.head(20)

# Leo el archivo de eventos.
events = pd.read_csv('events.csv.gzip', compression='gzip')
events.head(20)

# Leo el archivo de clicks.
clicks = pd.read_csv('clicks.csv.gzip', compression='gzip')
clicks.head(20)

/Users/gmontes/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (12,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,advertiser_id,action_id,source_id,created,country_code,latitude,longitude,wifi_connection,carrier_id,trans_id,os_minor,agent_device,os_major,specs_brand,brand,timeToClick,touchX,touchY,ref_type,ref_hash
0,2,NaN,4,2019-03-06T22:42:12.755Z,6333597102633388268,1.205689,1.070234,False,1.0,iGgClCM9exiHF4K31g94XmvHEBSLKIY,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,1.563,0.905,0.078,1891515180541284343,1904083516767779093
1,0,NaN,0,2019-03-08T10:24:30.641Z,6333597102633388268,1.218924,1.071209,False,4.0,MMHTOJ6qKAOeIH_Eywh1KIcCaxtO9oM,3.025219e+18,NaN,1.774085e+18,392184377613098015,NaN,NaN,NaN,NaN,1891515180541284343,3086509764961796666
2,0,NaN,0,2019-03-08T15:24:16.069Z,6333597102633388268,1.205689,1.070234,False,6.0,vIrEIdf9izUaWdAri6Ezk7T3nHFvNQU,5.975656e+18,NaN,3.072849e+18,392184377613098015,NaN,NaN,0.946,0.473,1891515180541284343,6958163894863846647
3,2,NaN,3,2019-03-06T03:08:51.543Z,6333597102633388268,1.205689,1.070234,False,45.0,YaKxxEAs2UmZhSpRfiCO9Zpa82B_AKM,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,19.013,0.035,0.431,1891515180541284343,4368617728156436525
4,2,NaN,3,2019-03-06T03:32:55.570Z,6333597102633388268,1.205689,1.070234,False,45.0,X5XTOcYQovkl6yadYdAD7xioVGU9jiY,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,28.110,0.054,0.423,1891515180541284343,4368617728156436525
5,5,NaN,4,2019-03-07T18:02:25.833Z,6333597102633388268,1.209638,1.064208,False,27.0,dhc5iaRvlrI9OgkXDWnMRrAY47xWozY,3.025219e+18,NaN,1.774085e+18,392184377613098015,1.0,NaN,0.606,0.459,1891515180541284343,7925959310979071406
6,3,NaN,1,2019-03-12T15:17:04.453Z,6333597102633388268,1.209638,1.064208,False,27.0,cOm-_s2_6NkoDWYNu_QaMk-v4sf34h4,3.378640e+18,3.032809e+17,4.566454e+18,2733035977666442898,1.0,NaN,NaN,NaN,1891515180541284343,1709687652740629839
7,1,NaN,2,2019-03-06T19:15:47.249Z,6333597102633388268,1.205393,1.077238,False,NaN,MbDYk_2nKmKtOQgAIRx-aDJ66VIGsrE,NaN,NaN,NaN,8930605132947907029,NaN,NaN,NaN,NaN,1891515180541284343,2127839020694198991
8,3,NaN,0,2019-03-07T23:11:01.934Z,6333597102633388268,1.205058,1.077332,False,19.0,1wsFgNNvk6PT1QSSIdmmwmqp0E3k7io,3.025219e+18,NaN,1.774085e+18,392184377613098015,NaN,3.129,0.889,0.977,1891515180541284343,5073558237453939035
9,3,NaN,1,2019-03-07T23:06:30.642Z,6333597102633388268,1.205689,1.070234,False,18.0,ZLZz1XHsA5Xkuq_TXNfT49j_H4mfTwg,3.378640e+18,NaN,4.566454e+18,2733035977666442898,1.0,1.707,0.466,0.985,1891515180541284343,70349377423764005
10,3,NaN,0,2019-03-07T23:19:27.496Z,6333597102633388268,1.205689,1.070234,False,4.0,4tLL9fcHXYBIPPcpiVFewgxGYV6oxFw,3.378640e+18,NaN,4.566454e+18,392184377613098015,NaN,NaN,NaN,NaN,1891515180541284343,1644660148189387981
11,3,NaN,1,2019-03-07T23:06:36.687Z,6333597102633388268,1.205689,1.070234,False,1.0,R7TIv0-mc3mINbEKvHUJFZfzwvp2D7w,6.768137e+18,NaN,3.072849e+18,2733035977666442898,NaN,NaN,NaN,NaN,1891515180541284343,516411449000094673
12,3,NaN,1,2019-03-07T23:06:36.193Z,6333597102633388268,1.205689,1.070234,False,1.0,LF4l3_ELD3jVjlBOKZ3mMSI1fMwNc9w,3.025219e+18,NaN,1.774085e+18,2733035977666442898,NaN,11.321,0.962,0.060,1891515180541284343,3193058882561143716
13,3,NaN,0,2019-03-07T23:40:48.790Z,6333597102633388268,1.205689,1.070234,False,4.0,J8xlTv7X5JG3_IOEtYNDZr7knoxAx3E,6.391567e+18,NaN,7.452406e+18,392184377613098015,1.0,1.245,0.244,0.458,1891515180541284343,576689128984253278
14,3,NaN,0,2019-03-07T23:40:37.870Z,6333597102633388268,1.205689,1.070234,False,4.0,-1NRg7girYhyHVaJ8BaBIcvR_XD1f6U,6.768137e+18,NaN,3.072849e+18,392184377613098015,NaN,84.453,0.704,0.689,1891515180541284343,428832711081159954
15,3,NaN,0,2019-03-07T23:51:34.939Z,6333597102633388268,1.205689,1.070234,False,4.0,ciD7dHbHm3nv-s-3yuofGUz1xmiMFCY,7.553676e+18,NaN,7.452406e+18,392184377613098015,3.0,3287.596,0.317,0.125,1891515180541284343,8118935886525598911
16,3,NaN,0,2019-03-07T23:40:44.673Z,6333597102633388268,1.205689,1.070234,False,3.0,QB99L40iovFsjRNgzpe5L_QdjM4aZyA,6.666626e+17,NaN,1.563830e+18,392184377613098015,NaN,654.816,0.810,11.213,1891515180541284343,1594029933892115538
17,3,NaN,1,2019-03-07T23:06:30.090Z,6333597102633388268,1.205689,1.070234,False,1.0,f60HLFp6PWc2RHOTcZeGm5zt4aIOkkg,3.025219e+18,3.977966e+18,1.774085e+18,2733035977666442898,4.0,0.430,0.096,0.333,1891515180541284343,7038858903260425787
18,3,NaN,0,2019-03-07T23:40:45.562Z,6333597102633388268,1.205689,1.070234,False,3.0,k_BXunsQlvIAS4aapKuyyGd0lymzF00,3.378640e+18,NaN,4.566454e+18,392184377613098015,NaN,677.249,0.570,2.737,1891515180541284343,2588837987655292191
19,3,NaN,0,2019-03-07T23:11:21.275Z,6333597102633388268,1.205689,1.070234,False,3.0,eQn6gfN8xxfAnUcXlw2tG0wCmyEiLV0,3.025219e+18,NaN,1.774085e+18,392184377613098015,NaN,0.326,0.635,0.913,1891515180541284343,4934009218528529897

In [37]:
# Top 10 de cantidad de auctions por usuario.       
auctionsPerUser = auctions[['device_id']]
auctionsPerUser.rename(columns={'device_id': 'ref_hash'}, inplace=True)
auctionsPerUser['auctionsCount'] = 1
auctionsPerUser = auctionsPerUser.groupby('ref_hash').count()
auctionsPerUser = auctionsPerUser.sort_values(by='auctionsCount', ascending=False)
auctionsPerUser.reset_index(inplace=True)
auctionsPerUserTop10 = auctionsPerUser.head(10)
auctionsPerUserTop10

/Users/gmontes/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

              ref_hash  auctionsCount
0   633139769114048761          27762
1  7202276635029175071          23055
2  7298861376107043945          18188
3  6302840482782120473          16400
4  5376802567578262905          16367
5  8963711959081981780          14362
6   795159065504552200          12275
7  6841615430383729819          12077
8  5384039226444052914          11632
9  3198179064438296471          11565

In [29]:
# Cantidad de installs por usuario.
installsPerUser = installs[['ref_hash']]
installsPerUser['installsCount'] = 1
installsPerUser = installsPerUser.groupby('ref_hash').count()
installsPerUser = installsPerUser.sort_values(by='installsCount', ascending=False)
installsPerUser.reset_index(inplace=True)
installsPerUserTop10 = installsPerUser.head(10)
installsPerUserTop10

/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

              ref_hash  installsCount
0  3272750442824629569              4
1  5208834946313176321              4
2   808602801225309575              3
3  1951826604052927528              3
4  5376622639905210608              3
5  2457547163021424058              3
6  4603142710878547974              3
7  8209340170282049305              3
8  1999001885916451618              3
9  2515049144505739996              3

In [30]:
# Cantidad de eventos por usuario.
eventsPerUser = events[['ref_hash']]
eventsPerUser['eventsCount'] = 1
eventsPerUser = eventsPerUser.groupby('ref_hash').count()
eventsPerUser = eventsPerUser.sort_values(by='eventsCount', ascending=False)
eventsPerUser.reset_index(inplace=True)
eventsPerUserTop10 = eventsPerUser.head(10)
eventsPerUserTop10

/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

              ref_hash  eventsCount
0  7823950631004872496         2913
1  7298478026707033340         2822
2  5034957474698180142         2681
3  5724169280369284055         2524
4  1706781657278990931         2300
5   244029859389272148         2240
6  7526135353349769077         2079
7  8876061431560425145         2053
8    99390558091295167         1966
9  2514745445577342929         1925

In [31]:
# Cantidad de clicks por usuario.
clicksPerUser = clicks[['ref_hash']]
clicksPerUser['clicksCount'] = 1
clicksPerUser = clicksPerUser.groupby('ref_hash').count()
clicksPerUser = clicksPerUser.sort_values(by='clicksCount', ascending=False)
clicksPerUser.reset_index(inplace=True)
clicksPerUserTop10 = clicksPerUser.head(10)
clicksPerUserTop10

/Users/gmontes/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

              ref_hash  clicksCount
0  4063522808706112974           41
1  6841615430383729819           32
2  1244272413279716745           26
3  1486699123421703687           21
4   871778630200697460           21
5  5087801386146573665           20
6   925803901826809324           17
7  5141358577301248038           16
8  5410279713092214908           16
9  6972928558719957056           16

# Top 10 de usuarios con mas auctions vs installs vs events vs clicks.

In [32]:
# Mergeo todos los dataframes que me quedaron con el de auctionsPerUserTop10.
mergedDataTopAuctions = pd.merge(auctionsPerUserTop10, installsPerUser, on='ref_hash', how='left')
mergedDataTopAuctions = pd.merge(mergedDataTopAuctions, eventsPerUser, on='ref_hash', how='left')
mergedDataTopAuctions = pd.merge(mergedDataTopAuctions, clicksPerUser, on='ref_hash', how='left')
mergedDataTopAuctions.fillna(0)

              ref_hash  auctionsCount  installsCount  eventsCount  clicksCount
0   633139769114048761          27762            0.0          0.0         10.0
1  7202276635029175071          23055            0.0          0.0         10.0
2  7298861376107043945          18188            0.0          0.0         12.0
3  6302840482782120473          16400            0.0          0.0          0.0
4  5376802567578262905          16367            0.0          0.0          9.0
5  8963711959081981780          14362            0.0          8.0          0.0
6   795159065504552200          12275            0.0          0.0          1.0
7  6841615430383729819          12077            0.0          0.0         32.0
8  5384039226444052914          11632            0.0          0.0          4.0
9  3198179064438296471          11565            0.0          3.0          0.0

# Top 10 de usuarios con mas installs vs auctions vs events vs clicks.

In [33]:
# Mergeo todos los dataframes que me quedaron con el de installsPerUserTop10.
mergedDataTopInstalls = pd.merge(installsPerUserTop10, auctionsPerUser, on='ref_hash', how='left')
mergedDataTopInstalls = pd.merge(mergedDataTopInstalls, eventsPerUser, on='ref_hash', how='left')
mergedDataTopInstalls = pd.merge(mergedDataTopInstalls, clicksPerUser, on='ref_hash', how='left')
mergedDataTopInstalls.fillna(0)

              ref_hash  installsCount  auctionsCount  eventsCount  clicksCount
0  3272750442824629569              4            0.0          951          0.0
1  5208834946313176321              4            0.0           41          0.0
2   808602801225309575              3            0.0           19          0.0
3  1951826604052927528              3           63.0            3          0.0
4  5376622639905210608              3           54.0           15          0.0
5  2457547163021424058              3            0.0           64          0.0
6  4603142710878547974              3            0.0            9          0.0
7  8209340170282049305              3            0.0           49          0.0
8  1999001885916451618              3            0.0            3          0.0
9  2515049144505739996              3          236.0           46          0.0

# Top 10 de usuarios con mas eventos vs auctions vs installs vs clicks.

In [34]:
# Mergeo todos los dataframes que me quedaron con el de eventsPerUserTop10.
mergedDataTopEvents = pd.merge(eventsPerUserTop10, installsPerUser, on='ref_hash', how='left')
mergedDataTopEvents = pd.merge(mergedDataTopEvents, auctionsPerUser, on='ref_hash', how='left')
mergedDataTopEvents = pd.merge(mergedDataTopEvents, clicksPerUser, on='ref_hash', how='left')
mergedDataTopEvents.fillna(0)

              ref_hash  eventsCount  installsCount  auctionsCount  clicksCount
0  7823950631004872496         2913            0.0            0.0          0.0
1  7298478026707033340         2822            0.0            2.0          0.0
2  5034957474698180142         2681            0.0           43.0          0.0
3  5724169280369284055         2524            0.0            0.0          0.0
4  1706781657278990931         2300            0.0            3.0          0.0
5   244029859389272148         2240            0.0           70.0          0.0
6  7526135353349769077         2079            0.0            0.0          0.0
7  8876061431560425145         2053            0.0            0.0          0.0
8    99390558091295167         1966            0.0            6.0          0.0
9  2514745445577342929         1925            0.0            0.0          0.0

# Top 10 de usuarios con mas eventos vs auctions vs installs vs clicks.

In [35]:
# Mergeo todos los dataframes que me quedaron con el de clicksPerUserTop10.
mergedDataTopClicks = pd.merge(clicksPerUserTop10, installsPerUser, on='ref_hash', how='left')
mergedDataTopClicks = pd.merge(mergedDataTopClicks, auctionsPerUser, on='ref_hash', how='left')
mergedDataTopClicks = pd.merge(mergedDataTopClicks, eventsPerUser, on='ref_hash', how='left')
mergedDataTopClicks.fillna(0)

              ref_hash  clicksCount  installsCount  auctionsCount  eventsCount
0  4063522808706112974           41            0.0           5596          0.0
1  6841615430383729819           32            0.0          12077          0.0
2  1244272413279716745           26            0.0           3297          0.0
3  1486699123421703687           21            0.0           6175          1.0
4   871778630200697460           21            0.0           1687          4.0
5  5087801386146573665           20            0.0            129          0.0
6   925803901826809324           17            0.0           8127          0.0
7  5141358577301248038           16            0.0            824          0.0
8  5410279713092214908           16            0.0             46          0.0
9  6972928558719957056           16            0.0            914          0.0